<div class="row justify-content-center mt-5">
    <div class="col-12 col-md-4 mt-3">
      <div class="card">
        <h2 class="card-header text-center">Register</h2>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()">


            <div class="form-group mb-3">
              <label for="email" class="form-label">EmailId</label>
              <input type="email" class="form-control" name="email" [(ngModel)]="user.email"  id="email">
            </div>

  
            <div class="form-group mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="user.password" id="password">
            </div>

            <div class="form-group mb-3">
              <label for="confirmpassword" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" name="confirmpassword" [(ngModel)]="confirmPassword" id="confirmpassword">
            </div>

  
            <div class="text-center">
              <button type="submit" class="form-group btn btn-dark px-4">Submit</button>
              <p class="mt-2">Go back to<a href="/login">Log In</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
